<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{html/index}">


<body>
<div layout:fragment="content" class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Google Map</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Google Map</li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center">
            <a
                    href="https://www.wrappixel.com/templates/adminwrap/"
                    class="
                  btn
                  waves-effect waves-light
                  btn btn-info
                  pull-right
                  hidden-sm-down
                  text-white
                "
            >
                Upgrade to Pro</a
            >
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Simple Basic Map</h4>
                    <div id="gmaps-simple" class="gmaps"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
</body>
</html>
