<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{html/index}">

<body>
<div layout:fragment="content" class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-9 align-self-center">
            <h3 class="text-themecolor">Manager Department</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Department</li>
            </ol>
            <br>
            <th:block th:if="${add_success != null}">
                <script th:replace="~{/fragment/alert/alert::add-success}"></script>
            </th:block>
            <th:block th:if="${edit_success != null}">
                <script th:replace="~{/fragment/alert/alert::edit-success}"></script>
            </th:block>
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                Add Department
            </button>
            <th:block
                    th:replace="~{/fragment/modal/add::add-department('myModal','Add Department','/dashboard/manage/add-department')}"></th:block>
        </div>
        <div class="col-md-3 align-self-center">
            <th:block
                    th:replace="~{/fragment/manage/search::search('/dashboard/manage/pages-department','search')}"></th:block>
            <br>
            <th:block
                    th:replace="~{/fragment/manage/pageSize::pageSize('/dashboard/manage/pages-department','size')}"></th:block>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Button to Open the Modal -->

    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!--Alert Error-->
                    <div th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert">
                    </div>
                    <div class="table-responsive">
                        <th:block th:replace="~{/fragment/manage/tableDetail::tableDepartment(${list})}"></th:block>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    <div th:replace="~{/fragment/manage/pagination::pagination('/dashboard/manage/pages-department')}"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>

</body>
</html>
