<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{html/index}">


<body>
<div layout:fragment="content" class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-9 align-self-center">
      <h3 class="text-themecolor">Manager Account</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">Account</li>
      </ol>
      <br>
      <!-- Button to Open the Modal -->
      <th:block th:if="${add_success != null}">
        <script th:replace="~{/fragment/alert/alert::add-success}"></script>
      </th:block>
      <th:block th:if="${edit_success != null}">
        <script th:replace="~{/fragment/alert/alert::edit-success}"></script>
      </th:block>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-account">
        Add Account
      </button>
      <th:block th:replace="~{/fragment/modal/add::add-account('modal-account','Add Account','/dashboard/manage/add-account')}"></th:block>

    </div>
    <div class="col-md-3 align-self-center">
      <th:block th:replace="~{/fragment/manage/search::search('/dashboard/manage/pages-account','search')}"></th:block>
      <br>
      <th:block th:replace="~{/fragment/manage/pageSize::pageSize('/dashboard/manage/pages-account','size')}"></th:block>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->

  <div class="row">
    <!-- column -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--Alert Error-->
          <div th:if="${mess != null}" th:text="${mess}" class="alert alert-danger" role="alert">
          </div>

          <div class="table">
            <th:block th:replace="~{/fragment/manage/tableDetail::tableAccount(${list})}"></th:block>
          </div>

        </div>
        <div class="card-footer text-muted">
          <div th:replace="~{/fragment/manage/pagination::pagination('/dashboard/manage/pages-account')}"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
</body>
</html>
